body { font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif; }

a { color: cornflowerblue; background: transparent; word-wrap: break-word; word-break: break-all; text-decoration: none; }

a:active, a:hover { color: tomato; outline: 1; }

.two_column li a { color: darkslategray; }

li a:active, a:hover { color: tomato; }

.list ul { list-style-image: url("/assets/images/flower.svg"); }

h1, h2, h3, h4, h5, h6 { color: teal; font-family: Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace; text-align: left; padding-top: 0.5em; padding-bottom: 0.5em; }

nav { position: absolute; top: 0; left: 50%; transform: translate(-50%, 0%); }

nav ul { display: flex; font-size: 18px; list-style-type: none; font: Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace; }

nav li { min-width: 200px; float: left; }

nav a { padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; display: block; text-align: center; color: darkslategray; }

.current { border-radius: 0; border-bottom: 2px solid lightgray; }

.post h1 { text-align: left; font-size: 2.0; margin-bottom: 32px; }

.post h2 { font-size: 1.5em; margin-bottom: 24px; }

.post h2:before { content: "## "; color: lightgray; position: relative; }

.post h3 { font-size: 1.25em; }

.post h3:before { content: "### "; color: lightgray; position: relative; }

.post h4 { font-size: 1.10em; line-height: 1.2; }

.post h4:before { content: "#### "; color: lightgray; position: relative; }

.post h5 { font-size: 1em; }

.post h5:before { content: "##### "; color: lightgray; position: relative; }

.post h6 { font-size: 1em; color: #777; }

code { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #BCBEC0; padding: 2px; font: 12px Consolas, Monaco, "Andale  Mono","DejaVu Sans Mono",monospace; line-height: 2; color: teal; }

table { color: #333; /* Lighten up font color */ font-family: Helvetica, Arial, sans-serif; /* Nicer font */ width: 100%; border-collapse: collapse; border-spacing: 1; }

table td, th { border: 1px solid #CCC; height: 30px; }

/* Make cells a bit taller */
table th { background: #F3F3F3; /* Light grey background */ font-weight: bold; /* Make sure they're bold */ }

table td { background: #FAFAFA; /* Lighter grey background */ text-align: center; /* Center our text */ }

.asciiart { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #BCBEC0; padding: 12px; font: 12px Consolas, Monaco, "Andale  Mono","DejaVu Sans Mono",monospace; line-height: 1; color: teal; }

blockquote { position: relative; padding-left: 1em; border-left: 0.2em solid teal; font: 16px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; font-weight: 100; }

blockquote:before, blockquote:after { content: '\201C'; font-family: 'Sanchez'; color: teal; }

blockquote:after { content: '\201D'; }

.menu_item { margin-left: 18px; margin-bottom: 18px; font-size: 1.2em; line-height: 1.0; font-family: Monaco, Consolas, "Andale  Mono","DejaVu Sans Mono", monospace; }

.center { top: 80px; overflow: auto; position: absolute; left: 50%; transform: translate(-50%, 0%); }

.two_column { display: flex; }

.fig_left { width: 45%; margin-right: 5%; }

.fig_right { width: 45%; margin-left: 5%; }

.intro { font-size: 14px; line-height: 1.5; padding: 12px; text-align: center; color: #333; font-family: monospace; border-bottom: 1px solid #BCBEC0; }

.post { color: #333; font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif; font-size: 16px; line-height: 1.5; min-width: 800px; }

.catalog_left { float: left; width: 50%; min-width: 500px; list-style-type: none; }

.catalog_right { float: right; width: 50%; min-width: 500px; list-style-type: none; }

img { padding: 5%; text-align: center; width: 60%; }

#side_bar { color: #333; top: 5%; position: fixed; overflow: auto; z-index: 1; background-color: rgba(255, 255, 255, 0.8); padding: 4px; }

#side_bar li { list-style-type: none; margin-top: 8px; margin-bottom: 8px; }

#side_bar ul { padding-left: 14px; margin-bottom: 8px; list-style-type: none; }

.cn_label { text-align: center; font: 18px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; color: crimson; }

.en_label { text-align: center; font: 18px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; color: navy; }

.sci_label { float: left; width: 48px; text-align: center; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #BCBEC0; padding: 2px 2px 2px 2px; font: 10px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; margin-right: 10px; color: indigo; }

.code_label { float: left; width: 48px; text-align: center; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #BCBEC0; padding: 2px 2px 2px 2px; font: 10px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; margin-right: 10px; color: seagreen; }

.idea_label { float: left; width: 48px; text-align: center; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #BCBEC0; padding: 2px 2px 2px 2px; font: 10px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; margin-right: 10px; color: tomato; }

.fold_click { font: 14px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; text-align: center; margin-left: 2px; -webkit-user-select: none; /* Safari */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* IE10+/Edge */ user-select: none; /* Standard */ color: darkslategray; }

.fold_click:active, .fold_click:hover { color: tomato; outline: 1; }

.toc_click { border-left: 2px solid #BCBEC0; font: 14px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace; text-align: left; padding: 4px 24px 4px 24px; overflow: auto; -webkit-user-select: none; /* Safari */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* IE10+/Edge */ user-select: none; /* Standard */ color: darkslategray; }

.toc_click:active, .toc_click:hover { color: tomato; outline: 1; }

.footnotes { border-top: 2px solid #BCBEC0; margin-top: 5%; }

/*# sourceMappingURL=styles.css.map */